.button {
  background-color: #1a73e8 !important;
  border-radius: 5px !important;
  text-transform: capitalize !important;
  
}
.button-gray {
  background-color: #eaedf1 !important;
  border-radius: 5px !important;
  color: black !important;
  padding: 7px 20px !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
}

.button-text {
  color : black !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
}

.button-text:hover {
  background: transparent !important;
}